* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 60px 20px;
}


/* Responsive */
@media (max-width: 768px) {

  .main-content {
    padding: 40px 15px;
  }

  .header {
    height: auto;
    min-height: 100px;
    padding: 18px 25px;
  }

  .header-left {
    display: none;
  }

  .header-center h1 {
    font-size: 28px;
  }

  .header-center p {
    font-size: 14px;
  }

  .header-right {
    display: none;
  }

  .footer {
    flex-direction: column;
    gap: 12px;
    text-align: center;
  }

  .footer-links {
    flex-wrap: wrap;
    justify-content: center;
  }
}