.header {
  height: 125px;
  background: #0c3d70;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 8%;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.emblem {
  font-size: 42px;
}

.header-left small {
  font-size: 14px;
}

.header-center {
  text-align: center;
}

.header-center h1 {
  font-size: 38px;
  letter-spacing: 4px;
  margin-bottom: 3px;
}

.header-center p {
  font-size: 18px;
  opacity: 0.9;
}

.header-right {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding-left: 25px;

  display: flex;
  flex-direction: column;

  font-size: 15px;
  line-height: 1.5;
}